
@{
    ViewBag.Title = "DanhSachKhachSan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using UvoyageTravel.Models.Entity
@model List<KhachSan>

<div class="bread-crumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Khách sạn tại Hà Nội</li>
        </ol>
    </div>
</div>
<div class="mainbody">
    <div class="container">
        <div class="row">
            <div class="col-md-3 content-danhsachkstrai">
                <div class="khoi-booking">
                    <div class="noidung-khoibooking">
                        <form>
                            <div class="form-group">
                                <label>Tìm điểm đến , khách san hoặc tên đường</label>
                                <input type="text" class="form-control" placeholder="Tìm điểm đến, khách sạn hoặc tên đường">
                            </div>
                            <label for="day-checkin">Ngày nhận phòng</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="day-checkin" aria-describedby="basic-addon3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <label for="day-checkout">Ngày trả phòng</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="day-checkout" aria-describedby="basic-addon3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <label for="day-checkout">Số phòng</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <select name="room" class="form-control input-mini number-room" style="width: 100%;">
                                        <option value="1" selected="selected">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-md-6 offset-md-2">
                                    <button>Tìm ngay</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> <!-- het khoi booking -->
                <div class="khoi-booking card">
                    <script src="./Assets/js/jquery-ui.js"></script>
                    <link rel="stylesheet" href="./Assets/css/jquery-ui.css">
                    <script>
                        $(document).ready(function () {
                            function formatCurrency(cur) {
                                var str = cur.toString();
                                var res = str.replace(/(\d)(?=(\d{3})+(?!\d))/g, function (x) {
                                    return x + ",";
                                });
                                return res;
                            }
                            $(function () {
                                $("#slider-range").slider({
                                    range: true,
                                    min: 100000,
                                    max: 10000000,
                                    step: 1000,
                                    values: [100000, 10000000],
                                    slide: function (event, ui) {
                                        $("#amount").val(formatCurrency(ui.values[0]) + "-" + formatCurrency(ui.values[1]));
                                    }
                                });
                                $("#amount").val(formatCurrency($("#slider-range").slider("values", 0)) +
                                    "-" + formatCurrency($("#slider-range").slider("values", 1)));
                            });
                        });
                    </script>
                    <div class="card-header">Giá</div>
                    <div class="noidung-khoibooking">
                        <div>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;width: 65%;">
                            <span style="font-size: 15px;">
                                <i style="vertical-align: super;font-size: 12px">₫</i> (Mỗi đêm)
                            </span>
                        </div>

                        <div id="slider-range"></div>
                        <div class="about-price">
                            <div class="pull-left">100,000 ₫</div>
                            <div class="pull-right">10,000,000 ₫</div>
                        </div>
                    </div>
                </div> <!-- het khoi booking -->
                <div class="khoi-booking card">
                    <div class="card-header">
                        Xếp hạng khách sạn
                    </div>
                    <div class="card-body noidung-khoibooking">
                        <ul class="list-unstyled">
                            <li>
                                <input type="checkbox" id="hoan-kiem">
                                <label for="hoan-kiem">*****</label>
                            </li>
                            <li>
                                <input type="checkbox" id="hoan-kiem">
                                <label for="hoan-kiem">*****</label>
                            </li>
                            <li>
                                <input type="checkbox" id="hoan-kiem">
                                <label for="hoan-kiem">*****</label>
                            </li>
                            <li>
                                <input type="checkbox" id="hoan-kiem">
                                <label for="hoan-kiem">*****</label>
                            </li>
                            <li>
                                <input type="checkbox" id="hoan-kiem">
                                <label for="hoan-kiem">*****</label>
                            </li>
                        </ul>
                    </div>
                </div> <!-- het khoi booking -->

                <div class="khoi-booking card">
                    <div class="card-header">
                        Ưu đãi
                    </div>
                    <div class="card-body noidung-khoibooking">
                        <ul class="list-unstyled">
                            <li>
                                <input type="checkbox" id="hoan-kiem">
                                <label for="hoan-kiem">Lựa chọn thông minh</label>
                            </li>
                        </ul>
                    </div>
                </div> <!-- het khoi booking -->


            </div>
            <div class="col-md-9 content-danhsachksphai">
                @if (Model != null)
                {
                    foreach (KhachSan ks in Model)
                    {
                        <div class="motkhoichitietkhachsan">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="img-chitiet">
                                        <span class="have_breakfast">Bao bữa sáng</span>
                                        <img src="~/Assets/User/images/106957226.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-8 detail-hotel">
                                    <h4>@ks.TenKhachSan</h4>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star fa-2px"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <p class="address-hotel">@ks.DiaChi</p>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 box-price">
                                    <p class="price">Giá cho 1 đêm</p>
                                    <p class="price-detail">@ks.GiaTien.GetValueOrDefault(0).ToString("N0") ₫</p>
                                    <a class="btn-datngay" href=@Url.Action("DatPhong", "Order", new { id = @ks.ID}) >Đặt ngay</a>
                                </div>
                            </div>
                        </div>
                <!-- het mot khoi chi tiet khach san -->
                    }
                }
               
            </div>
        </div>
    </div>
</div>
