@model UvoyageTravel.Models.Entity.KhachSan
@{List<UvoyageTravel.Models.Entity.PhongKhachSan> ListPhong = ViewBag.ListPhong; }



<script type="text/javascript" src="~/Assets/User/libs/fotorama-4.6.4/fotorama.js"></script>
<link rel="stylesheet" type="text/css" href="~/Assets/User/libs/fotorama-4.6.4/fotorama.css">
<script type="text/javascript" src="~/Assets/User/js/slidefotorama.js"></script>


<div class="bread-crumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Khách sạn tại Hà Nội</li>
        </ol>
    </div>
</div>
<!-- het bread-crumb -->

<div class="mainbody">
    <div class="container">
        <div class="row hotel-info">
            <div class="col-sm-9">
                <div class="detail-title">
                    <h3 class="hoteltitle">
                        @if (Model != null)
                        {
                            @Model.TenKhachSan
                        }
                        <span class="hotel-rating star4" style="display: inline-block;"></span>
                    </h3>
                    <div class="hotel-location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> D8 Giang Vo Street, Hanoi
                        <a href="">Xem bản đồ <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- het detail-title -->
                <div class="hotel-slider">
                    <div class="fotorama fotorama-with-numbers" id="shuffle-fotorama" data-shuffle="true" data-fit="cover" data-loop="true" data-nav="thumbs">
                        <div data-img="/Assets/User/Images/25789170.jpg" data-thumb="/Assets/User/Images/25789170.jpg">&nbsp;</div>
                        <div data-img="/Assets/User/Images/25789222.jpg" data-thumb="/Assets/User/Images/25789222.jpg">&nbsp;</div>
                        <div data-img="/Assets/User/Images/39360773.jpg" data-thumb="/Assets/User/Images/39360773.jpg">&nbsp;</div>
                        <div data-img="/Assets/User/Images/39798647.jpg" data-thumb="/Assets/User/Images/39798647.jpg">&nbsp;</div>
                        <div data-img="/Assets/User/Images/39986330.jpg" data-thumb="/Assets/User/Images/39986330.jpg">&nbsp;</div>
                    </div>
                </div>
                <!-- het hotel slider -->
            </div>
            <div class="col-sm-3 d-none d-md-block">
                <a href="" class="btnDatNgay">Đặt ngay</a>
                <div class="container_map">
                    <a href="">
                        <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&amp;size=263x543&amp;markers=21.027637,105.821854&amp;key=AIzaSyCXkmUEqCYUSEXFM_pB1afSUFGvOBMOngs">
                    </a>
                    <a href="javascript:void(0);" class="btn-zoom-map"><i class="fa fa-arrows-alt" aria-hidden="true"></i>&nbsp;&nbsp;Mở Rộng Bản đồ</a>
                </div>
            </div>
        </div> <!-- het row hotel-info -->
        <div class="update-room">
            <form action="">
                <h4 class="panel-title d-block d-sm-none">
                    Thay đổi lịch trình<i style="float:right; margin-right: 5px;" class="fa fa-angle-down"></i>
                </h4>
                <div class="update-hotel row">
                    <div class="col-sm-2">
                        Cập nhật lại
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="form-group row">
                            <label class="col-sm-5">Ngày nhận:</label>
                            <div class="input-group col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="update-day-checkin" aria-describedby="basic-addon3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- het ngay nhan -->
                    <div class="col-sm-3 col-6">
                        <div class="form-group row">
                            <label class="col-sm-5">Ngày trả:</label>
                            <div class="input-group col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="update-day-checkin" aria-describedby="basic-addon3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Het Ngay tra -->
                    <div class="col-sm-2 col-6">
                        <div class="form-group row">
                            <label class="col-sm-5">Phòng:</label>
                            <select name="" id="" class="col-sm-5 form-control">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="1">5</option>
                            </select>
                        </div>
                    </div>
                    <!-- het so phong update -->
                    <div class="col-sm-2 col-6">
                        <a id="trip_update" href="javascript:void(0);" class="find-search">  Cập nhật&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i></a>
                    </div>
                </div>
            </form>
        </div>
        <!-- het update-room -->
        <div class="list-room row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">Phòng</th>
                        <th>Giá 1 đêm</th>
                        <th>Số Phòng</th>
                        <th>Tổng giá</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- btn dat ngay -->
                    <tr class="room_detail">
                        <td colspan="4" style="padding: 0px;border: none;"></td>
                        <td rowspan="400" class="totalroom-book" width="15%">
                            <p class="booking-detail-room"></p>
                            <p id="booking-summary" style="display: none;">
                                <span class="rooms-count"><strong>0</strong></span>&nbsp;<span>Phòng</span><br>
                                <span class="total-price">
                                    <b>Tổng tiền</b>:&nbsp;<strong>0</strong>
                                    ₫
                                </span>
                            </p>
                            <p class="jbalert_book"></p>
                            <a href="javascript:void(0);" class="book-now-rate"> Đặt ngay <i class="fa fa-chevron-right"></i></a>
                        </td>
                    </tr>
                    <!-- het btn dat ngay -->
                    @if (ListPhong != null)
                    {
                        foreach (PhongKhachSan phong in ListPhong)
                        {
                             <!-- chi tiet phong -->
                            <tr class="room_detail">
                                <td class="detail-image">
                                    <a href=""><img src="~/Assets/User/Images/detail-room.jpg" width="100%" alt=""></a>
                                </td>
                                <td class="detail-description">
                                    <h4 class="room_name">
                                        @phong.TenPhong
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="fa fa-bed" aria-hidden="true"></i> Giường:
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <input type="radio" name="bed[1]"> 1 Giường đôi lớn
                                            </div>
                                            <div>
                                                <input type="radio" name="bed[1]"> 2 Giường đơn
                                            </div>
                                        </div>
                                    </div>
                                    <div class="room-size">
                                        <i class="fa fa-map-o" aria-hidden="true"></i>&nbsp; Diện tích phòng: 26.00 m2. &nbsp;&nbsp;&nbsp;<i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;&nbsp; <span>Tối đa: 2 </span>
                                    </div>
                                    <div class="room-cancel">
                                        <i class="fa fa-calendar-times-o" aria-hidden="true"></i> &nbsp; Không hoàn hủy &nbsp;<i class="fa fa-question-circle" aria-hidden="true" style="color: #999; font-size: 12px;"></i>
                                    </div>
                                    <div class="room-pop-detail">
                                        <i class="fa fa-file-text-o"></i> &nbsp; <a href="">Thông tin phòng</a>
                                    </div>
                                </td>
                                <td class="facility">
                                    <p class="minprrice_discount">@phong.GiaTien.GetValueOrDefault(0).ToString("N0") ₫</p>
                                    <p class="minprice">@phong.GiaTien.GetValueOrDefault(0).ToString("N0") ₫</p>
                                    <div class="room-breakfast">
                                        <i class="fa fa-coffee" aria-hidden="true"></i>
                                        <i class="text-danger">Không bao gồm</i>
                                    </div>
                                    <p>Đã bao gồm 10% VAT và 5% Phí dịch vụ</p>
                                </td>
                                <td class="detail-select-room">
                                    <select name="" id="" class="form-control">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                    </select>
                                </td>
                            </tr>
                    <!-- Het chi tiet phong -->
                        }
                    }


                </tbody>
            </table>
        </div>
